{% load static %}
<html lang="en">
<head>

    <title>Free Movies</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="One Movies Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
    Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
            function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'css/contactstyle.css'%}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'css/faqstyle.css'%}" type="text/css" media="all" />
    <link href="{% static 'css/single.css'%}" rel='stylesheet' type='text/css' />
    <link href="{% static 'css/medile.css'%}" rel='stylesheet' type='text/css' />
    <!-- banner-slider -->
    <link href="{% static 'css/jquery.slidey.min.css' %}" rel="stylesheet">
    <!-- //banner-slider -->
    <!-- pop-up -->
    <link href="{% static 'css/popuo-box.css' %}" rel="stylesheet" type="text/css" media="all" />
    <!-- //pop-up -->
    <!-- font-awesome icons -->
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
    <!-- //font-awesome icons -->
    <!-- js -->
    <script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <!-- //js -->
    <!-- banner-bottom-plugin -->
    <link href="{% static 'css/owl.carousel.css" rel="stylesheet' %}" type="text/css" media="all">
    <script src="{% static 'js/owl.carousel.js' %}"></script>
    <script>
        $(document).ready(function() {
            $("#owl-demo").owlCarousel({

              autoPlay: 3000, //Set AutoPlay to 3 seconds

              items : 5,
              itemsDesktop : [640,4],
              itemsDesktopSmall : [414,3]

            });

        });
    </script>
    <!-- //banner-bottom-plugin -->
    <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
</head>
	<body>
    <!-- ------------------------------Header File -------- --------------------------------------------- -->
    {% include 'my_ad/header.html' %}
    <!-- -------------------------------------------------- --------------------------------------------- -->





     <!-- ------------------------------Body-------- --------------------------------------------- -->
    {% block body_data %} {% endblock body_data %}
    <!-- ------------------------------Body-------- --------------------------------------------- -->


    <!-- ------------------------------Custom JS-------- --------------------------------------------- -->
    {% block custom_js %}{% endblock custom_js %}
  <!-- ------------------------------Custom CSS-------- --------------------------------------------- -->


  </body>
</html>